/* CSS declarations go here */
/* CSS declarations go here */

body {
    background-image: url("/images/tile4.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.navbar-nav span[role=button] {
    padding: 15px;
    display: inline-block;
    line-height: 20px;
}

/* Buttons for file inputs */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/*Cards Stuff*/

.thumbnail {
	padding:0;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*Don't allow textarea resize*/
textarea{
    resize: none;
}

/*Attempt to make this thing look a bit better*/

.panel-body {
    background:#f5f5f5;}
.navbar-left{
    padding: 0px;
}

.navbar-left>img{
    height: 50px;
    padding: 7px; /* firefox bug fix */
    width: auto;
}

/*Transitions*/

.box {
    width: 100%;
    height: auto;
    background-color: rgb(29, 81, 117);
    text-align: center;
    color: white;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    min-height: 300px;
  }

  .IntroButton{
    transition: all 300ms;
    -moz-box-shadow: 0px 10px 14px -7px #54a3f7;
	-webkit-box-shadow: 0px 10px 14px -7px #54a3f7;
	box-shadow: 0px 10px 14px -7px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
  }
  .IntroButton:hover{
    transform: scale(1.05);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
  }
  .IntroButton:active{
   
  }

  .homeButtons{
      text-align: center;
  }

  .songImage{
    border-radius: 5px;
    transition: all 300ms;
  }

  .songImage:hover{
    transform: scale(1.05);
  }


  
