/* CSS declarations go here */
/* CSS declarations go here */

body {
    background-image: url("/images/lightBlue.jpg");
    background-attachment: fixed;
}



.navbar-nav span[role=button] {
    padding: 15px;
    display: inline-block;
    line-height: 20px;
}


/* Buttons for file inputs */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/*Cards Stuff*/

.thumbnail {
	padding:0;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

/*Don't allow textarea resize*/
textarea{
    resize: none;
}

/*Attempt to make this thing look a bit better*/

.panel-body {
    background:#f5f5f5;}
